experiments/xml/xsd/lcc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	
	<!--***********
	    METADATA
	************-->
	
	<!--Metadata Type-->
	<xs:complexType name="metadataType">
		<xs:sequence>
		
		  <xs:element name="name" type="xs:string" />
		  <xs:element name="description" type="xs:string" />
	  
		</xs:sequence>
	</xs:complexType>		
	
	
	
	<!--*********
	    VALUES
	**********-->
	
	<!--Value Type-->
	<xs:complexType name="valueType">
				
		<xs:attribute name="id" type="xs:positiveInteger" use="required" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="excluded" type="xs:boolean" use="optional" />

	</xs:complexType>	
	
	<!--Values Type-->
	<xs:complexType name="valuesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			
			<xs:element name="value" type="valueType"/>
			
		</xs:sequence>		
	</xs:complexType>	
	
	
	
	
	<!--**********
	    CLASSES
	***********-->
	
	<!--ClassValue Type-->
	<xs:complexType name="classValueType">
		
		<xs:attribute name="id" type="xs:positiveInteger" use="required" />
		
	</xs:complexType>
  
	
	<!--Class Type-->
	<xs:complexType name="classType">    
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			
			<xs:element name="class" type="classType"/>
			<xs:element name="value" type="classValueType"/>	
			
		</xs:sequence>		
		
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="onSlopeVisible" type="xs:boolean" use="optional" />
		<xs:attribute name="lcpField" type="xs:boolean" use="optional" />	

	</xs:complexType>

	
	<!--Classes Type-->
	<xs:complexType name="classesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			
			<xs:element name="class" type="classType"/>
			
		</xs:sequence>
	</xs:complexType>
	
	

	<!--*******
	    ROOT
	********-->
	
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="metadata" type="metadataType"/>
				<xs:element name="classesType" type="valuesType"/>
				<xs:element name="valuesType" type="classesType"/>

			</xs:sequence>
		</xs:complexType>
	
	</xs:element>

</xs:schema>
